* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: #F29AAE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    
}
.RockPaperScissors{
    text-decoration: underline;
    cursor: pointer;
}
a{
  text-decoration:none;
    color: white;
}

nav {
    width: 99vw;
    background-color: #7132CA;
    color: white;
    padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

    font-size: 1.5rem;
    box-shadow: 3px 7px 5px #301ca0ba;
    border-radius: 12px;
    margin-bottom: 2rem;
    margin-top: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.choice {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;
    height: 17vmin;
    width: 17vmin;
    box-shadow: 0 0 10px rgba(38, 165, 188, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    ;
    
}
.choice:hover {
    background-color: #d77b91;
    transform: scale(1.1);
    transition: transform 0.2s;}

img {
    display: inline-block;
    margin: px;
    cursor: pointer;
    border-radius: 50%;
    height: 16vmin;
    width: 16vmin;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.result {
    text-align: center;
    
    font-size: 1.5rem;
    color: #333;
    height: 40vh;
    display: flex;
   
   
    
    align-items: center;
    width:50vw ;
}   

.score {
    font-size: 3vmin;
   
    align-self: center;
width: 8vw;}

.csc{margin-right: 5vmin;}
.psc{margin-left: 4vmin;}

.scr {
    margin: 0 ;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.message {
    margin: 20px;
    font-size: 3vmin;
    display: flex;
    width: 40vw;
    border-radius: 9px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #b180f7e7;
    cursor: pointer;
}

.choiceandscore{
    width: 98%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:3vmin;
  
    border-radius: 12px;
    font-weight: 600;
    object-fit: cover;
    background: #C47BE4

}

.compchoice  , .playerchoice {
    
    height: 20vmin;
    width: 20vmin;
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
   
}




@media (max-width: 400px)
{
body {
    font-family: Arial, sans-serif;
    background: #F29AAE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

.choiceandscore{
    width: 98%;
    height: 40vh;
    display: flex;
    
    align-items: center;
    font-size:5vmin;
  
    border-radius: 12px;
    font-weight: 600;
    object-fit: cover;
    background: #C47BE4

}

.message {
    margin: 20px;
    font-size: 8vmin;
    display: flex;
    width: 100%;
    border-radius: 9px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #b180f7e7;
    cursor: pointer;
}


.compchoice  , .playerchoice {
    
    height: 20vmin;
    width: 20vmin;
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 40px;}

  .playerchoice{
    left: 40px;
  }
  .compchoice {
    right: 79px;
  }

.scr{
    width: 100%;
    justify-content: space-between;
    position: relative;
    bottom:80px ;
}

.score {
    font-size: 5vmin;
   
    
width: 8vw;}

.psc{
    position: relative;
    right: 22px;
}


.compScore{
position: relative;
left: 22px;



}
}